@using SharedObjects.ValueObjects
@model VFood

@{
    ViewData["Title"] = "Chi tiết món ăn";
}
@section Title{
<title>Tất cả món ăn</title>
}
@section Breadcrumb{
<li class="breadcrumb-item"><a asp-controller="Food" asp-action="Index">Tất cả món ăn</a></li>
<li class="breadcrumb-item active" aria-current="page">@Model.Name</li>
}
@section SlimPageTitle{
    Chi tiết món ăn
}
<div class="section-wrapper mg-t-20">
    <label class="section-title">@Model.SubCategoryName</label>
    <div class="row">
        <div class="col-md-6">
            <div class="card bd-0">
                <div class="card-body">
                    <h5 class="card-title tx-medium mg-b-10">@Model.Name</h5>
                    <p class="card-subtitle tx-normal mg-b-15">@Model.Description</p>
                    <p class="card-text">@Model.Content</p>
                    <p class="mg-b-15 text-danger font-weight-bold">@Model.Price.ToString("N0") VNĐ</p>
                    <div class="mg-b-15">
                        <img src="@Model.Image" width=400 class="rounded" />
                    </div>
                    @if ((int)Model.Status == 0)
                    {
                        <p class="card-text ">Trạng thái: Hết hàng</p>
                    }else{
                        <p class="card-text ">Trạng thái: Còn hàng</p>
                    }
                    <p class="card-text ">@Model.DateCreated</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
        </div>
    </div>
    <a href="@Url.Action("update", "food", new {foodId = @Model.FoodId})" class="btn btn-oblong btn-success mg-b-10">Cập nhật</a>
</div>