@using SharedObjects.ValueObjects
@model List<VFood>

@{
    ViewData["Title"] = "Món ăn";
}
@section Title{
    <title>Tất cả món ăn</title>
}
@section Breadcrumb{
    <li class="breadcrumb-item active" aria-current="page">Món ăn</li>
}
@section SlimPageTitle{
    Món ăn
}
@section Script{
    <script src="~/js/food.js"></script>
}
<div class="section-wrapper mg-t-20">
    <label class="section-title">Tất cả món ăn</label>
    <p class="mg-b-20 mg-sm-b-40"></p>
    <a href="@Url.Action("add", "food", new {foodId = ""})" class="btn btn-oblong btn-success mg-b-10 add">Thêm mới</a>

    <div class="table-responsive">
    <table class="table table-bordered mg-b-0 text-center">
        <thead>
        <tr>
            <th>Tên</th>
            <th>Giá</th>
            <th>Ảnh đại diện</th>
            <th>Trạng thái</th>
            <th>Thuộc loại</th>
            <th>#</th>
        </tr>
        </thead>
        <tbody>
        @foreach(var item in Model)
        {
        <tr>
            <td><a href="@Url.Action("detail", "food", new {foodId = item.FoodId})" >@item.Name</a></td>
            <td>@item.Price</td>
            <td><img width="100" src="@item.Image" /></td>
            <td>@item.Status</td>
            <td>@item.SubCategoryName</td>
            <td>
                <a id="btn-update" href="@Url.Action("add", "food", new {foodId = @item.FoodId})"><i class="fa fa-edit text-success"></i></a>
                <a class="delete" data-id="@item.FoodId" href=""><i class="fa fa-trash text-danger"></i></a>
            </td>       
        </tr>
        }
        </tbody>
    </table>
    </div><!-- table-responsive -->
</div>