@using SharedObjects.ValueObjects
@{
    ViewData["Title"] = "Home Page";
}
@{
    var subcates = (List<VSubCategory>)ViewBag.SubCates;
}
@model List<VFood>


<div class="row margin-bottom-40">
    <!-- BEGIN SALE PRODUCT -->
    <div class="col-md-12 sale-product">
        <h2>Món ăn mới nhất</h2>
        <div class="owl-carousel owl-carousel5">
            @for (int i = 0; i < 6; i++)
            {
                <div>
                    <div class="product-item">
                        <div class="pi-img-wrapper">
                            <img src="@Model[i].Image" class="img-responsive" alt="@Model[i].Name">
                            <div>
                                <a href="@Model[i].Image" class="btn btn-default fancybox-button">Zoom</a>
                                <a href="/Food/Detail/@Model[i].FoodId" class="btn btn-default fancybox-fast-view">View</a>
                            </div>
                        </div>
                        <h3><a href="shop-item.html">@Model[i].Name</a></h3>
                        <div class="pi-price">@Model[i].Price.ToString("N0") VNĐ</div>
                        <a class="btn btn-default addtocart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
            }

        </div>
    </div>
    <!-- END SALE PRODUCT -->
</div>
<!-- END SALE PRODUCT & NEW ARRIVALS -->
<!-- BEGIN SIDEBAR & CONTENT -->
<div class="row margin-bottom-40 ">
    <!-- BEGIN CONTENT -->
    @foreach (var subcate in subcates)
    {
        <div class="col-md-12">
            <h2>@subcate.SubCategoryName</h2>
            <div class="owl-carousel owl-carousel5">
                @foreach (var item in Model)
                {
                    if (item.SubCategoryId == subcate.SubCategoryId)
                    {
                        <div>
                            <div class="product-item">
                                <div class="pi-img-wrapper">
                                    <img src="@item.Image" class="img-responsive" alt="@item.Name">
                                    <div>
                                        <a href="@item.Image" class="btn btn-default fancybox-button">Zoom</a>
                                        <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
                                    </div>
                                </div>
                                <h3><a href="shop-item.html">@item.Name</a></h3>
                                <div class="pi-price">@item.Price.ToString("N0") VNĐ</div>
                                <a href="javascript:;" title="Thêm vào giỏ hàng" class="btn btn-default"><i class="fa fa-shopping-cart"></i></a>
                                <div class="sticker sticker-new"></div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    }

    <!-- END CONTENT -->
</div>
<!-- END SIDEBAR & CONTENT -->
@section scripts{
    <script src="~/js/addtocart.js"></script>
}
