@using SharedObjects.ValueObjects
@model List<VSubCategory>

@{
    ViewData["Title"] = "Index";
}
@section Title{
    <title>Thể loại</title>
}
@section Breadcrumb{
    <li class="breadcrumb-item active" aria-current="page">Thể loại phụ</li>
}
@section SlimPageTitle{
    Thể loại phụ
}
@section Script{
    <script src="js/subcategory.js"></script>
}
<div class="section-wrapper mg-t-20">
    <label class="section-title">Thể loại phụ</label>
    <p class="mg-b-20 mg-sm-b-40"></p>
    <a href="@Url.Action("add","subcategory", new {subCategoryId = ""})" class="btn btn-oblong btn-success mg-b-10">Thêm mới</a>

    <div class="table-responsive">
    <table class="table table-bordered mg-b-0 text-center">
        <thead>
        <tr>
            <th>Tên</th>
            <th>Miêu tả</th>
            <th>Ngày tạo</th>
            <th>Trạng thái</th>
            <th>Thể loại cha</th>
            <th>#</th>
        </tr>
        </thead>
        <tbody>
        @foreach(var item in Model)
        {
        <tr>
            <td>@item.SubCategoryName</td>
            <td>@item.Description</td>
            <td>@item.DateCreated</td>
            <td>
                @item.Status
            </td>
            <td>@item.CategoryName</td>
            <td>
                <a href="@Url.Action("add","subcategory", new {subCategoryId = @item.SubCategoryId})" class="" ><i class="fa fa-edit text-success"></i></a>
                <a class="delete" data-id="@item.SubCategoryId" href=""><i class="fa fa-trash text-danger"></i></a>
            </td>       
        </tr>
        }
        </tbody>
    </table>
    </div><!-- table-responsive -->
</div>