@using SharedObjects.ValueObjects
@model List<VCategory>

@{
    ViewData["Title"] = "Index";
}
@section Title{
<title>Thể loại</title>
}
@section Breadcrumb{
<li class="breadcrumb-item active" aria-current="page">Thể loại</li>
}
@section SlimPageTitle{
    Thể loại
}
<div class="section-wrapper mg-t-20">
    <label class="section-title">Tất cả các thể loại</label>
    <p class="mg-b-20 mg-sm-b-40">Hiễn thị theo id, tên, miêu tả</p>
    @if(TempData["AlertMessage"]!=null){
        <div class="@TempData["AlertType"]" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <strong>@TempData["AlertMessage"]</strong>
    </div>
    }
    <a asp-action="Add" asp-controller="Category" class="btn btn-oblong btn-success mg-b-10">Thêm mới</a>

    <div class="table-responsive">
        <table class="table table-bordered mg-b-0 text-center">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Tên</th>
                    <th>Miêu tả</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@item.CategoryId</th>
                        <td>@item.CategoryName</td>
                        <td>@item.Description</td>
                        <td>
                            <a href="@Url.Action("update", "category", new{categoryId = @item.CategoryId})"><i class="fa fa-edit text-success"></i></a>
                            <a href="@Url.Action("delete", "category", new{categoryId = @item.CategoryId})"><i class="fa fa-trash text-danger"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div><!-- table-responsive -->
</div>
<!--Modal arear-->